<h2 *ngIf="user">{{user.name}}</h2>
<h3 class="border-bottom">Balance information</h3>
<div class="information">
  <div class="sum">
    <p>
      Your total amount is: {{total | number}}
    </p>
  </div>
  <div class="free-mony">
    <p>
      Free mony {{freeMony | number}}
    </p>
  </div>
  <div *ngIf="cells" class="cells">
    <h4 class="border-bottom">Accumulation cells</h4>
    <ul>
      <li *ngFor="let cell of cells">
        <label>{{cell.name}} acamulated: </label> {{cell.acamulated}}
      </li>
    </ul>
  </div>
  <div class="row">
    <app-main-information-canvas *ngIf="spendingCanvasData" [id]="'spending-canvas'"
    [title]="'Spending'" [data]="spendingCanvasData"></app-main-information-canvas>
    <app-main-information-canvas *ngIf="encomingCanvasData" [id]="'encoming-canvas'"
    [title]="'Encoming'" [data]="encomingCanvasData"></app-main-information-canvas>
  </div>
</div>
