<article class="col-12">
  <h2 class="h3 text-center mb-2">Cells</h2>
  <div *ngIf="!cells || !activeCells"class="loading text-center">
    loading ...
  </div>
  <table *ngIf="cells && activeCells"class="table col-12">
    <thead>
      <tr>
        <td class="col-3">NAME</td>
        <td class="col-3">CREATED</td>
        <td class="col-2">TAX</td>
        <td class="col-3">ACCUMELATED</td>
        <td class="col-1">ACTIVE</td>
      </tr>
      </thead>
      <tr *ngFor="let cell of cells" class="border-bottom">
        <td class="col-3">{{cell.name}}<br />
        <a routerLink="/cells/{{cell._id}}">Get detailed information</a>
      </td>
        <td class="col-2">{{cell.createAt | date}}</td>
        <td class="col-3">{{cell.tax}}</td>
        <td class="col-3">{{cell.acamulated}}</td>
        <td class="col-1 text-center">
          <input *ngIf="isCellActive(cell._id) === true" type="checkbox" name="{{cell._id}}"(change)="onCheckedChange($event)" checked/>
          <input *ngIf="isCellActive(cell._id) === false" type="checkbox" name="{{cell._id}}"(change)="onCheckedChange($event)" />
        </td>
      </tr>
  </table>
  <h2 class="h4 text-center"> Create new cell</h2>
  <form [formGroup]="createCellFormGroup" novalidate (ngSubmit)="createCell()"
  class="row form-group mt-4 ml-1">
    <input type="text" formControlName="name" placeholder="cell name" class="col-3 form-control"/>
    <input type="number" formControlName="tax" class="col-2 form-control"/>
    <input type="text" class="col-3 form-control" formControlName="acamulated" placeholder="initial saving">
    <input type="color" formControlName="color" class="col-1 form-control color"/>
    <input type="submit" value="create cell" class="btn btn-success col-3"
     [disabled]="createCellFormGroup.controls['name'].invalid || createCellFormGroup.controls['tax'].invalid ||
     createCellFormGroup.controls['acamulated'].invalid">
  </form>

</article>
