<header id="header">
  <label>Now:</label>{{getDate() | date}}
</header>
<div class="row">
  <form name="encoming"
  [formGroup]="encomingFormGroup" novalidate (ngSubmit)="sendEncomingReport()"
  class="encoming col-6 no-gutters ">
    <h3 class="border-bottom h5"> Add new incomings </h3>
    <ul class="list-group">
      <li class=" row col-12"
      *ngFor="let line of encomingLines">
        <div class="col-6">
          <input type="text" name="description"
          formControlName={{line.descriptionName}}
            placeholder="encoming" class="col-12"/>
            <span class="item-isnt-valid"
            *ngIf="lineValidation('encoming',line.descriptionName)">
            descripion should be longer then 2 simbol
          </span>
        </div>
        <div class="col-3">
          <input name="amount"
            formControlName={{line.amountName}}
            type="number" class="col-12"/>
            <span class="item-isnt-valid"
            *ngIf="lineValidation('encoming',line.amountName)">
            number less than 0
            </span>
        </div>
        <div class="col-2">
          <select *ngIf="activeCurancy"name="currency"
            formControlName={{line.currencyName}}
            class="form-control form-control-sm col-12">
            <option *ngFor="let curancy of activeCurancy"
            value={{curancy.name}}>
              {{ curancy.name | uppercase}}
            </option>
          </select>
          <div *ngIf="!activeCurancy" class="loading col-12">
            loading...
          </div>
          <span class="item-isnt-valid"
          *ngIf="lineValidation('encoming',line.currencyName)">
          pick a curancy
          </span>
        </div>
        <input type="button" value="x" class="btn-delete" (click)="removeLine('encoming',line.id)"/>
      </li>
    </ul>
    <div class="row col-12 no-gutters">
      <input type="button" value="Add one more line"
      (click)="addLine('encoming')" class="btn btn-succes col-5"/>
      <input type="submit" class="col-5 btn btn-secondary"  value="Send an incoming report"/>
    </div>
  </form>
  <form [formGroup]="spendingFormGroup" novalidate (ngSubmit)="sendSpendingReport()"
  class="spending col-6 no-gutters " name="spending">
    <h3 class="border-bottom h5"> Add new spendings </h3>
    <ul class="list-group">
      <li class=" row col-12"
      *ngFor="let line of spendingLines">
        <div class="col-5">
          <input type="text" name="description"
          formControlName={{line.descriptionName}}
            placeholder="encoming" class="col-12"/>
            <span class="item-isnt-valid"
            *ngIf="lineValidation('spending',line.descriptionName)">
            descripion should be longer then 2 simbol
          </span>
        </div>
        <div class="col-2">
          <input name="amount"
            formControlName={{line.amountName}}
            type="number" class="col-12"/>
            <span class="item-isnt-valid"
            *ngIf="lineValidation('spending',line.amountName)">
            number less than 0
            </span>
        </div>
        <div class="col-2">
          <select *ngIf="activeCurancy"name="currency"
            formControlName={{line.currencyName}}
            class="form-control form-control-sm col-12">
            <option *ngFor="let curancy of activeCurancy"
            value={{curancy.name}}>
              {{ curancy.name | uppercase}}
            </option>
          </select>
          <div *ngIf="!activeCurancy" class="loading col-12">
            loading...
          </div>
          <span class="item-isnt-valid"
          *ngIf="lineValidation('spending',line.currencyName)">
          pick a curancy
          </span>
        </div>
        <div class="col-2">
          <select *ngIf="spendingTypes"name="type"
            formControlName={{line.spendingTypesName}}
            class="form-control form-control-sm col-12">
            <option *ngFor="let curancy of spendingTypes"
            value={{curancy.name}}>
              {{ curancy.name }}
            </option>
          </select>
          <span class="item-isnt-valid"
          *ngIf="lineValidation('spending',line.spendingTypesName)">
          pick a type
          </span>
        </div>
        <input type="button" value="x" class="btn-delete" (click)="removeLine('spending',line.id)"/>
      </li>
    </ul>
    <input type="button" value="Add one more line"
    (click)="addLine('spending')" class="btn btn-succes col-5"/>
    <input type="button" (click)="sendSpendingReport()" class="col-6 btn btn-secondary"  value="Send a spend report"/>
  </form>
    <h4 class="h5  col-12 text-center border-bottom" >Last reports</h4>
    <nav class="col-12 nav">
      <a [class.active]="serchFlag === 'last ten'" (click)="searchToggle('last ten')"
      routerLink="/inandout" class="col-4 nav-link text-center">Last ten</a>
      <a [class.active]="serchFlag === 'by date'" (click)="searchToggle('by date')"
      routerLink="/inandout" class="col-4 nav-link text-center">Get by date</a>
      <a [class.active]="serchFlag === 'all'" (click)="searchToggle('all')"
      routerLink="/inandout" class="col-4 nav-link text-center">Get all</a>
    </nav>
    <form *ngIf="serchFlag === 'by date'" class="col-12"
    [formGroup]="serchFormGroup" novalidate (ngSubmit)="getData()">
      <input type="date" formControlName="since" />
      <input type="date" formControlName="for" />
      <input type="submit" class="button" value="get reports"/>
    </form>
    <aside class="container col-6" *ngIf="encomingReports && encomingReports.length !== 0">
      <h5 class="h6 text-center">Encoming</h5>
      <table class="col-12">
        <thead>
          <tr class="text-muted border-bottom">
            <td class="col-4 text-center">
              AMOUNT
            </td>
            <td class="col-3 text-center">
              DATE
            </td>
            <td class="col-5 text-center">
              DESCRIPTION
            </td>
          </tr>
        </thead>
        <tr *ngFor="let report of encomingReports" class="text-muted border-bottom">
          <td class="col-4 text-center">
            {{report.amount}} {{report.currency | uppercase}}
          </td>
          <td class="col-3 text-center">
            {{report.date | date: 'M/d/yy'}}
          </td>
          <td class="col-5 text-center">
            {{report.description}}
          </td>
        </tr>
      </table>
    </aside>
    <aside class="container col-6" *ngIf="spendingReports && spendingReports.length!==0">
      <h5 class="h6 col-12 text-center">Spendings</h5>
      <table  class="col-12 ">
        <thead>
          <tr class="text-muted border-bottom">
            <td class="col-4 text-center">
              AMOUNT
            </td>
            <td class="col-3 text-center">
              DATE
            </td>
            <td class="col-5 text-center">
              DESCRIPTION
            </td>
          </tr>
        </thead>
        <tr *ngFor="let report of spendingReports" class="text-muted border-bottom">
          <td class="col-4 text-center">
            {{report.amount}} {{report.currency}}
          </td>
          <td class="col-3 text-center">
            {{report.date | date: 'M/d/yy'}}
          </td>
          <td class="col-5 text-center">
            {{report.description}}
          </td>
        </tr>
      </table>
    </aside>
    <input *ngIf="serchFlag === 'last ten'&& spendingReports.length!==0
     && encomingReports.length!==0" type="button" value="get more"
    (click)="getMoreReports()"
    class="container-fluid col-3 btn"/>
</div>
