span.item-isnt-valid{
  font-size: 8px;
  color:red;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 8px;
  height: 10px;
}
div.col-3, div.col-6, div.col-2{
  padding: 0px;
}

input.ng-touched.ng-invalid, select.ng-touched.ng-invalid  {
  border-radius:3px;
  border:solid #fd989885 1px;}
input.ng-touched.ng-valid, select.ng-touched.ng-valid  {
  border-radius:3px;
  border:solid #bcf3bc 1px;}

input[type="button"].btn-delete{
  background-color: #ff6060;
  height: 20px;
  width: 20px;
  color: white;
  border-radius: 50%;
  border: 0px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}

a.active{
  border-bottom: 2px solid #008fff;
}
