*{
  margin: 0px;
  padding: 0px;
}
div.app-wrapper{
  display: flex;
}
div.app-wrapper aside.navigation{
  display: flex;
  flex-direction: row;
  width: 25%;
}
div.app-wrapper main{
    width: 75%;
}
aside{
  height: 100vh;
  min-height: 330px;
  position:fixed;
}
.navigation__logout{
  position: absolute;
  bottom: 5%;
  left: 8%;
}
.nav__ico{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
