<nav class="nav flex-column">
  <a routerLink="/main" [class.active]="router.url === '/main'" class="nav-item nav-link">Main infirmation</a>
  <a routerLink="/inandout" [class.active]="router.url === '/inandout'" class="nav-item nav-link">Adding incoming/spending</a>
  <a routerLink="/loans" [class.active]="router.url === '/loans'" class="nav-item nav-link">Loans</a>
  <a routerLink="/cells" [class.active]="router.url === '/cells'" class="nav-item nav-link">Cells</a>
  <a routerLink="/settings" [class.active]="router.url === '/settings'" class="nav-item nav-link">Settings</a>
</nav>
