<ul class="list-group ">
  <li class=" row ml-1 no-gutters"
  *ngFor="let line of spendingLines">
    <div class="col-5">
      <input type="text"
        name="description-{{line.date}}"
        [(ngModel)]="line.description"
        placeholder="encoming" class="form-control"/>
        <!-- <span class="item-isnt-valid"
        [class.hiden]="!lineValidation('spending',line.descriptionName)">
        descripion should be longer then 2 simbol
      </span> -->
    </div>
    <div class="col-2">
      <input name="amount-{{line.date}}"
        [(ngModel)]="line.amount"
        type="number"
        class="form-control"/>
        <!-- <span class="item-isnt-valid"
        [class.hiden]="!lineValidation('spending',line.amountName)">
        number less than 0
        </span> -->
    </div>
    <div class="col-2">
      <select *ngIf="activeCurancy"
        name="currency-{{line.date}}"
        [(ngModel)]="line.currency"
        class="custom-select">
        <option *ngFor="let curancy of activeCurancy"
        value={{curancy.name}}>
          {{ curancy.name | uppercase}}
        </option>
      </select>
      <div *ngIf="!activeCurancy" class="loading">
        loading...
      </div>
      <!-- <span class="item-isnt-valid"
      [class.hiden]="!lineValidation('spending',line.currencyName)">
      pick a curancy
      </span> -->
    </div>
    <div class="col-2">
      <select *ngIf="spendingTypes
        "name="type-{{line.date}}"
        [(ngModel)]="line.spendingTypes"
        class="custom-select">
        <option *ngFor="let type of spendingTypes"
        value={{type.name}}>
          {{ type.name }}
        </option>
      </select>
      <!-- <span class="item-isnt-valid"
      [class.hiden]="!lineValidation('spending',line.spendingTypesName)">
      pick a type
      </span> -->
    </div>
    <input type="button" class="btn-delete mt-2 ml-2" (click)="removeLine(line.date)"/>
  </li>
</ul>
<div class="row ml-1 mt-2">
  <input type="button" value="line"
  (click)="addLine('spending')"  class="btn btn-plus col-3" />
  <input type="subscribe" class="col-6 btn btn-success ml-auto"  value="Send a spend report" (click)="sendSpendingReports()"/>
</div>
